.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
}

.navbar .navbar_logo {
  margin: 10px 0;
}

.navbar .navbar_logo span {
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
}

.navbar .navbar_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #27272b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar_items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  height: 50px;
}

.navbar .navbar_items ul .navbar_cta {
  z-index: 2;
  background-color: #dd5126;
  padding: 5px 30px;
  font-family: "Exo", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px #dd5126 solid;
  margin-left: 10px;
}

.navbar .navbar_items li {
  list-style: none;
  font-family: "Exo", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.navbar .navbar_items li:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: navTransition;
          animation-name: navTransition;
}

@-webkit-keyframes navTransition {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

@keyframes navTransition {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

.swiper-main {
  height: 300px;
}

.stamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.stamp p {
  font-size: 70px;
  color: #6D7CFD;
  margin: 15px 0px;
  font-family: "Exo", sans-serif;
}

.triangle {
  height: 0px;
  width: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  left: 50%;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  padding: 1em;
}

.skills .cardAnimation1 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: cardAnimation1;
          animation-name: cardAnimation1;
}

@-webkit-keyframes cardAnimation1 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes cardAnimation1 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.skills .cardAnimation2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: cardAnimation2;
          animation-name: cardAnimation2;
}

@-webkit-keyframes cardAnimation2 {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes cardAnimation2 {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.skills .skills_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.skills .skills_card img {
  width: 64px;
}

.skills .skills_card:hover {
  -webkit-box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.11), 0 12px 90px 0 rgba(103, 151, 255, 0.11);
          box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.11), 0 12px 90px 0 rgba(103, 151, 255, 0.11);
}

.skills .skills_card h1 {
  font-family: "Exo", sans-serif;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.skills .skills_card p {
  color: #6d7c90;
  font-family: "Exo", sans-serif;
  font-size: 0.8em;
}

.effect {
  width: 60%;
  height: 0;
  position: absolute;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-wrapper .graph {
  width: 80%;
  position: absolute;
  z-index: 1;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.swiper-slide-base {
  height: 400px;
}

.swiper-slide-info {
  width: 50%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  padding: 20px 50px;
}

.swiper-slide-info p {
  z-index: 2;
  width: 80%;
  margin: 0px;
  font-size: 20px;
  font-family: "Exo", sans-serif;
}

.swiper-slide-info img {
  z-index: 2;
  margin: 50px 0;
}

.swiper-slide-info button {
  margin-top: 50px;
  z-index: 2;
  background-color: #dd5126;
  padding: 10px 100px;
  font-family: "Exo", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px #dd5126 solid;
}

.slideOne:hover .img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-filter: grayscale(0) brightness(0.8);
          filter: grayscale(0) brightness(0.8);
}

.slideOne .slideOne .img {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.slideOne .graph {
  z-index: 1;
  height: 100%;
  width: 70%;
  left: 0px;
  position: absolute;
}

.slideOne .img {
  top: -130px;
  right: -350px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-filter: grayscale(0.7) brightness(0.5);
          filter: grayscale(0.7) brightness(0.5);
}

.slideOne .img:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
/*# sourceMappingURL=home.css.map */